/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");
/* line 5, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/wix.scss */
* {
  box-sizing: border-box;
  position: relative;
}

/* line 14, ../sass/wix.scss */
html,
body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: rgba(10, 10, 10, 0.01);
}

/* line 20, ../sass/wix.scss */
#header {
  height: 145px;
}

/* line 24, ../sass/wix.scss */
#sectionTop {
  height: 400px;
  background-image: url("../wix_image/iceberg.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 120px;
}

/* line 32, ../sass/wix.scss */
#sectionBottom {
  height: 100%;
}

/* line 36, ../sass/wix.scss */
#footer {
  margin-top: 200px;
  height: 70px;
  bottom: 10%;
  background-color: #151515;
}

/* line 43, ../sass/wix.scss */
.box {
  width: 980px;
  height: 100%;
  margin: 0px auto;
}

/* line 49, ../sass/wix.scss */
.header {
  float: left;
}

/* line 53, ../sass/wix.scss */
.header_left_grod {
  width: 260px;
  height: 100%;
  text-align: left;
  padding-top: 100px;
  font-size: 0.8rem;
}

/* line 61, ../sass/wix.scss */
.header_center_grod {
  width: 460px;
  height: 100%;
  text-align: center;
  font-size: 1.4rem;
  padding: 50px;
}
/* line 67, ../sass/wix.scss */
.header_center_grod a {
  text-decoration: none;
  color: #151515;
  font-weight: 700;
}

/* line 74, ../sass/wix.scss */
.header_right_grod {
  width: 260px;
  height: 100%;
  text-align: right;
  padding-top: 50px;
}
/* line 79, ../sass/wix.scss */
.header_right_grod a {
  text-decoration: none;
  color: #151515;
}

/* line 85, ../sass/wix.scss */
.hrg {
  width: 100%;
  height: 50%;
}

/* line 90, ../sass/wix.scss */
.grid {
  width: 455px;
  height: 530px;
  display: inline-block;
  margin: 12px;
  margin: 16px 16px;
}

/* line 98, ../sass/wix.scss */
.tgrid {
  height: 50%;
  width: 100%;
  background-image: url("../wix_image/mountain.jpg");
}

/* line 104, ../sass/wix.scss */
.bgrid {
  height: 50%;
  width: 100%;
  background-color: white;
}

/* line 110, ../sass/wix.scss */
.footer_left_grid {
  width: 824.5px;
  height: 100%;
  float: left;
  padding-top: 30px;
  font-size: .8rem;
  letter-spacing: 0.5px;
  color: white;
}

/* line 120, ../sass/wix.scss */
.footer_right_grid {
  width: 155.5px;
  height: 100%;
  float: right;
}

/* line 126, ../sass/wix.scss */
.textH {
  font-size: 4.3rem;
  margin-bottom: 15px;
  color: white;
}

/* line 132, ../sass/wix.scss */
.textP {
  font-size: 1.3rem;
  color: white;
}

/* line 137, ../sass/wix.scss */
.bgrid {
  text-align: center;
}
/* line 139, ../sass/wix.scss */
.bgrid h3 {
  font-size: 1.4rem;
  padding: 60px 0px 0px 0px;
  font-weight: 500;
}
/* line 144, ../sass/wix.scss */
.bgrid p {
  font-size: 0.9rem;
  margin: 30px 0px;
}

/* line 150, ../sass/wix.scss */
.text-grid {
  color: rgba(21, 21, 21, 0.2);
  margin: 30px 0px;
  color: gray;
}
